{% extends 'base.html.twig' %}

{% block title %}{{"Bienvenue"|trans}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ "hello"|trans}} {{ titre }}! </h1>
</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ "Accueil"|trans}} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="realisations.html.twig">{{ "Mes réalisations"|trans}} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cv.html.twig">{{ "Mon CV"|trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html.twig">{{ "Me contacter"|trans}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>{% endblock %}
